@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url(./core/components/header/header.css);
@import url(./pages/error/error.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: calc(.2rem + 1vw);
 
    word-wrap: break-word;

}

:root {
    --btn-bg-color: #402900;
    --btn-bg-color-hover: #805300;
    --btn-font-color: #FFFFFF;
    --font-color: #000;
    --text-color: #8C8C8C;
}


.btn {
    padding: 10px;
    display: flex;
    gap: 5px;
    border: 1px solid var(--btn-bg-color);
    background-color: var(--btn-bg-color);
    border-radius: 2px;
    font-size: 16px;
    color: var(--btn-font-color);
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
}

.btn-cart::before {
    content: url('./assets/icons/cart-w.svg');
}
.btn-desc::before {
    content: url('./assets/icons/desc.svg');
}
.btn-drop{
    background-color: var(--text-color);
}
.btn-drop::before {
    content: url('./assets/icons/drop.svg');
}
.btn:hover {
    background-color: var(--btn-bg-color-hover);
}

::-webkit-scrollbar {
    width: 5px; 
    height: 3px; 
    background-color: var(--btn-bg-color-hover);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}